<% articles.forEach(article => { %>
<article class="articles__article">
    <div class="article__header">
        <% if (!article) { %>
        <img class="article__pictureLink" src="<%= article.image %>" alt="Profile picture" />
        <% } else { %>
        <div class="article__pictureLink"></div>
        <% } %>
        <div class="article__data">
            <div class="article__split article__options">
                <p class="article__username"><%= article.company %></p>
                <div class="article__additionals">
                    <!-- prettier-ignore -->
                    <% if (user && user.liked.some(id => id.articleId == article.id)) {%>
                    <button type="button" class="article__likes"><i class="fa-solid fa-heart"></i></button>
                    <% } else { %>
                    <button type="button" class="article__likes"><i class="fa-regular fa-heart"></i></button>
                    <% } %>
                    <!-- prettier-ignore -->
                    <% if (user && user.favorites.some(id => id.articleId == article.id)) {%>
                    <button type="button" class="article__favorites"><i class="fa-solid fa-star"></i></button>
                    <% } else { %>
                    <button type="button" class="article__favorites"><i class="fa-regular fa-star"></i></button>
                    <% } %>
                </div>
            </div>
            <div class="article__split">
                <p class="article__updatedAt"><%= article.date.toDateString() %></p>
            </div>
        </div>
    </div>
    <img class="articles__img" src="<%= article.image %>" alt="" />
    <h2 href="#" class="articles__article-title"><%= article.title %></h2>
    <a href="<%= article.href %>" class="doc-<%= article.id %> articles__link button button--small">Learn more</a>
</article>
<% }) %>
